<% if @status == true %>
    $('#transaction_area').prepend('<div class="row"><div class="col-xs-12"><div class="panel panel-default"><div class="panel-footer"><a href="/sales_reps/new_withdrawal" style="width:100%" class="btn btn-primary">Request Withdrawal</a></div></div></div></div>')
<% else %>

<% end %>
