$('#total_payout').children('.panel-body').remove()
$('#total_payout').append('<div class="panel-body text-center balance"><span class="text-success">$<%= number_with_precision(@balance, precision: 2) %></span></div>')
$('#total_payout').append('<div class="panel-footer text-center"><a class="btn btn-success" style="width:100%" onclick="loadDetails(\'total_payout\',<%= Date.today.beginning_of_month.strftime("%m,%d,%Y") %>,<%= Date.today.end_of_month.strftime("%m,%d,%Y") %>)">Load Details</a></div>')
