<div class='row'>
	<div class='col-sm-12'><h4 class='support_header'>Ticket Details</h4></div>
	<div class='col-sm-6'>
		<p id='ticket_name'><strong>Customer Name:</strong><br>
			Josh Tate</p>
		<p id='ticket_email'><strong>Customer Email:</strong><br>
			jtate@variationmedia.com</p>
	</div>
	<div class='col-sm-6'>
		<p id='ticket_category'><strong>Ticket Category:</strong><br>
			Billing</p>
		<p id='ticket_priority'><strong>Priority:</strong><br>
			<span class='text-danger'>High</span></p>
	</div>
	<div class='col-xs-12'>
		<p><strong>Issue Description:</strong><br>
			<div class='issue_description' id='ticket_issue'>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare elit id purus mattis vulputate. Phasellus et viverra orci. In nec nunc sem. Aliquam nec nisi ullamcorper orci pharetra ornare. Vestibulum lorem nibh, sagittis vitae mi at, faucibus consequat libero. Mauris vel gravida nulla. Etiam sit amet tellus eu mi mollis malesuada nec eget sem. Nam id tempus lacus, in imperdiet purus. In eget fermentum neque, eget aliquet quam.

				In rhoncus velit quis eleifend pellentesque. Nulla in neque a nulla aliquam eleifend. Praesent quis purus dignissim metus vehicula aliquam id vitae lacus. Donec quis nisl eget purus pharetra dapibus vel vitae ante. Nam id tellus mollis, tristique dolor at, rhoncus lacus. Donec at ante eget sapien consequat aliquam. Integer euismod neque et mauris egestas condimentum. Sed eu diam neque. Ut vitae suscipit nisl.
			</div>
		</p>
	</div>
</div>