<div class='panel panel-success'>
	<div class='panel-heading'>
		<h3 class='panel-title' id='register_title'>Success</h3>
	</div>
	<div class='panel-body text-center' id='register_body'>
		<div class='success_display'>
			<i class='fa fa-check-circle'></i><br/>
			<p class='success_message'>You've successfully registered!</p>
		</div>
	</div>
</div>