<div class="row">
	<div class="col-sm-5">
    	<div class="media mb30">
        	<div class="pull-left mr30"><img src="img/step-1.png"></div>
            <div class="media-body">
            	<h3 class="media-heading text-sans-light">Adding Malimar TV Network onto your Roku device.</h3>
                <div class="mw300"><hr></div>
                <p class="text-light">On each PC or Laptop open your navigator and go to <a href="http://www.roku.com" class="text-darkblue text-semi">www.roku.com</a></p>
                <p class="text-light">You will either need to <a href="https://owner.roku.com/Login" class="text-darkblue text-semi">Sign In</a> or <a href="https://owner.roku.com/Account/Create" class="text-darkblue text-semi">Create</a> a New Roku Account</p><br>
                <p><%= link_to 'Continue', free_trial_2_path, class: "btn btn-primary btn-bold btn-w180", remote: true, data: {disable_with: 'Loading...'} %></p>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
    	<div class="mb30"><img src="img/roku1.png" class="img-responsive"></div>
    </div>
</div>
