<div class="row">
	<div class="col-sm-5">
    	<div class="media mb30">
        	<div class="pull-left mr30"><img src="img/step-2.png"></div>
            <div class="media-body">
            	<h3 class="media-heading text-sans-light">Add a Private Channel</h3>
                <div class="mw300"><hr></div>
                <p class="text-light">On your Roku account, go to <a href="#" class="text-darkblue text-semi">My Account</a></p>
                <p class="text-light">Add Channel by clicking on  <a href="#" class="text-darkblue text-semi">“Add a Private Channel”</a></p><br>
                <p><%= link_to 'Continue', free_trial_3_path, class: "btn btn-primary btn-bold btn-w180", remote: true, data: {disable_with: 'Loading...'} %></p>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
    	<div class="mb30"><img src="img/roku2.png" class="img-responsive"></div>
    </div>
</div>
