<div class="row">
	<div class="col-sm-5">
    	<div class="media mb30">
        	<div class="pull-left mr30"><img src="img/step-3.png"></div>
            <div class="media-body">
            	<h3 class="media-heading text-sans-light">Set Malimar</h3>
                <div class="mw300"><hr></div>
                <p class="text-light">Enter the code: <span class="text-semi">malimar</span></p>
                <p class="text-light">Click on <span class="text-semi">“Add Channel”</span></p><br>
                <p><%= link_to 'Continue', free_trial_4_path, class: "btn btn-primary btn-bold btn-w180", remote: true, data: {disable_with: 'Loading...'} %></p>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
    	<div class="mb30"><img src="img/roku3.png" class="img-responsive"></div>
    </div>
</div>
