<div class="row">
	<div class="col-sm-5">
    	<div class="media mb30">
        	<div class="pull-left mr30"><img src="img/step-4.png"></div>
            <div class="media-body">
            	<h3 class="media-heading text-sans-light">Add Malimar TV Network</h3>
                <div class="mw300"><hr></div>
                <p class="text-light">Add Channel by clicking on <span class="text-semi">“Yes, Add Channel”</span></p><br>
                <p><%= link_to 'Complete', account_path, class: "btn btn-primary btn-bold btn-w180" %></p>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
    	<div class="mb30"><img src="img/roku4.png" class="img-responsive"></div>
    </div>
</div>
