<div class="login-header clearfix">
	<a href="#" class="login-logo"><%= image_tag 'logo-text.png' %></a>
    <a href="#" class="login-register"><span class="glyphicon glyphicon-user"></span> Register as Sales Representative</a>
</div>
<div class="login-content">
	<div class="container">
		<h1 class="text-center">Welcome to the Malimar Administration Panel</h1>
        <div class="login-box">
        	<div class="login-box-inner clearfix">
				<%= yield %>
            </div>
        </div>
    </div>
</div>