<% if @user.errors.any? %>
    addNotification('error', 'There was an error saving the subscription status', 'Error', 'exclamation-circle')
<% else %>
    $('#membership_1').html('Premium')
    $('#membership_2').html('<div class="number">N/A</div>No Subscription')
    addNotification('success', 'Subscription updated', 'Success', 'check-circle')
    $('#length').val('')
    $('#period').val('days')
<% end %>
