<% if @user.errors.any? %>
    var notification = new NotificationFx({
        message : '<p>There was an error saving the balance.</p>',
        layout : 'growl',
        effect : 'jelly',
        type : 'danger', // notice, warning, error or success
        num: <%= (100 + rand(10000)).to_s %>
    });
    notification.show()
<% else %>
    $('#membership_1').html('Premium')
    $('#membership_2').html('<div class="number"><%= @user.expiry.strftime("%Y/%m/%d") %></div><%= distance_of_time_in_words(Date.today, @user.expiry) %>')
    var notification = new NotificationFx({
        message : '<p>Subscription updated.</p>',
        layout : 'growl',
        effect : 'jelly',
        type : 'success', // notice, warning, error or success
        num: <%= (100 + rand(10000)).to_s %>
    });
    notification.show()
    $('#length').val('')
    $('#period').val('days')
<% end %>
