<% if @user.errors.any? %>
    addNotification('error', 'There was an error saving the balance', 'Error', 'exclamation-circle')
<% else %>
    $('#membership_1').html('Premium')
    $('#membership_2').html('<div class="number"><%= @user.expiry.strftime("%Y/%m/%d") %></div><%= distance_of_time_in_words(Date.today, @user.expiry) %>')
    addNotification('success', 'Subscription updated', 'Success', 'check-circle')
    $('#length').val('')
    $('#period').val('days')
<% end %>
