<% content_for :top_level, 'Video CMS' %>
<% content_for :low_levels, YAML.dump(['Grid Management']) %>
<div id="left-scroll" class="nano">
    <div class="nano-content">
        <div class='text-right'>
            <a class='btn btn-lg btn-success' style='margin-bottom: 10px;' onclick='$("#new_grid_modal").modal("show")'>Add Grid</a>
        </div>
        <%= render 'admins/cms_partials/grid_container' %>
    </div>
</div>
<%= render 'admins/cms_partials/new_grid' %>
<%= render 'admins/cms_partials/edit_grid' %>
<script>
$('#grid_nav').addClass('active')
</script>
