<div class='container'>
    <div class='text-right'>
        <a class='btn btn-lg btn-success' style='margin-bottom: 10px;' onclick='$("#new_grid_modal").modal("show")'>Add Grid</a>
    </div>
    <%= render 'admins/cms_partials/grid_container' %>
</div>
<%= render 'admins/cms_partials/new_grid' %>
<%= render 'admins/cms_partials/edit_grid' %>
