$('#rokus').children('input').remove()
$('#rokus').html('<label>Roku <span class="text-danger">*</span></label><%= raw(escape_javascript(select_tag(:device_id, options_for_select(@options), class: "form-control input-md"))) %>')
$('#device_id').change(function(){
    if ($('#user_id').val() == ''){
        $('#tx_details').html("<div class='stat-number'><div class='number'><i class='fa fa-refresh fa-spin'></i></div>Loading Details</div>")

        $.ajax({
            url: '/admin_choose_plan?&plan_id='+$('#plan_id').val()+'&roku_id='+$('#device_id').val()
        })
    }
    else{
        $('#tx_details').html("<div class='stat-number'><div class='number'><i class='fa fa-refresh fa-spin'></i></div>Loading Details</div>")

        $.ajax({
            url: '/admin_choose_plan?user_id='+$('#user_id').val()+'&plan_id='+$('#plan_id').val()+'&roku_id='+$('#device_id').val()
        })
    }
})
