$('#password-error').remove()
<% if @rep.errors.any? %>
    $('#password').after('<div class="text-danger" id="password-error">Password <%= @rep.errors[:password].join(", ") %></div>')
<% else %>
    var notification = new NotificationFx({
        message : '<p>Password has been reset.</p>',
        layout : 'growl',
        effect : 'jelly',
        type : 'success', // notice, warning, error or success
        num: <%= (100 + rand(10000)).to_s %>
    });
    notification.show()
    $('#password').val('')
<% end %>
