$('#password-error').remove()
<% if @user.errors.any? %>
    $('#password').after('<div class="text-danger" id="password-error">Password <%= @user.errors[:password].join(", ") %></div>')
<% else %>
    addNotification('success', 'Password has been reset', 'Success', 'check-circle')
    $('#password').val('')
<% end %>
