$('#pending_balance').children('.panel-body').remove()
$('#pending_balance').append('<div class="panel-body text-center balance"><span class="text-warning">$<%= number_with_precision(@balance, precision: 2) %></span></div>')
$('#pending_balance').append('<div class="panel-footer text-center"><a class="btn btn-warning" style="width:100%" onclick="loadDetails(\'pending_balance\',<%= Date.today.beginning_of_month.strftime("%m,%d,%Y") %>,<%= Date.today.end_of_month.strftime("%m,%d,%Y") %>)">Load Details</a></div>')
