$('#pending_withdrawals').html("<div class='number'>$<%= number_with_precision(@balance, precision: 2) %></div>Pending Withdrawals")
$('#pending_withdrawals').attr('onclick','loadDetails(\'pending_withdrawals\',<%= Date.today.beginning_of_month.strftime("%m,%d,%Y") %>,<%= Date.today.end_of_month.strftime("%m,%d,%Y") %>)')
$('#pending_withdrawals').css('cursor','pointer')

$('#transaction_details_title').html("Pending Withdrawals")
