$('#pending_withdrawals').children('.panel-body').remove()
$('#pending_withdrawals').append('<div class="panel-body text-center balance"><span class="text-primary">$<%= number_with_precision(@balance, precision: 2) %></span></div>')
$('#pending_withdrawals').append('<div class="panel-footer text-center"><a class="btn btn-primary" style="width:100%" onclick="loadDetails(\'pending_withdrawals\',<%= Date.today.beginning_of_month.strftime("%m,%d,%Y") %>,<%= Date.today.end_of_month.strftime("%m,%d,%Y") %>)">Load Details</a></div>')
