$('#total_payout').html("<div class='number'>$<%= number_with_precision(@balance, precision: 2) %></div>Total Payout")
$('#total_payout').attr('onclick','loadDetails(\'total_payout\',<%= Date.today.beginning_of_month.strftime("%m,%d,%Y") %>,<%= Date.today.end_of_month.strftime("%m,%d,%Y") %>)')
$('#total_payout').css('cursor','pointer')

$('#transaction_details_title').html("Pending Withdrawals")
