$('#pending_balance').html("<div class='number'>$<%= number_with_precision(@balance, precision: 2) %></div>Pending Balance")
$('#pending_balance').attr('onclick','loadDetails(\'pending_balance\',<%= Date.today.beginning_of_month.strftime("%m,%d,%Y") %>,<%= Date.today.end_of_month.strftime("%m,%d,%Y") %>)')
$('#pending_balance').css('cursor','pointer')

$('#transaction_details_title').html("Pending Transactions")
