$('#current_balance').children('.panel-body').remove()
$('#current_balance').append('<div class="panel-body text-center balance">$<%= number_with_precision(@balance, precision: 2) %></div>')
$('#current_balance').append('<div class="panel-footer text-center"><a class="btn btn-default" style="width:100%" onclick="loadDetails(\'current_balance\',<%= Date.today.beginning_of_month.strftime("%m,%d,%Y") %>,<%= Date.today.end_of_month.strftime("%m,%d,%Y") %>)">Load Details</a></div>')
