$('#commission_rate-error').remove()


<% if @rep.errors.any? %>
    <% if @rep.errors[:commission_rate].present? %>
        $('#new_rate').after('<div class="text-danger" id="commission_rate-error">Commission rate <%= @rep.errors[:commission_rate].join(", ") %></div>')
    <% end %>

    var notification = new NotificationFx({
        message : '<p>The account could not be updated.</p><p>Please see form for further information.</p>',
        layout : 'growl',
        effect : 'jelly',
        type : 'danger', // notice, warning, error or success
        num: <%= (100 + rand(10000)).to_s %>
    });

    notification.show()
<% else %>
    var notification = new NotificationFx({
        message : '<p>The account has been updated!</p>',
        layout : 'growl',
        effect : 'jelly',
        type : 'success', // notice, warning, error or success
        num: <%= (100 + rand(10000)).to_s %>
    });

    notification.show()
    $('#rep_rate').html('<%= @rep.commission_rate %>%')
<% end %>
