$('#first_name-error').remove()
$('#last_name-error').remove()
$('#email-error').remove()


<% if @rep.errors.any? %>
    <% if @rep.errors[:first_name].present? %>
        $('#first_name').after('<div class="text-danger" id="first_name-error">First name <%= @rep.errors[:first_name].join(", ") %></div>')
    <% end %>
    <% if @rep.errors[:last_name].present? %>
        $('#last_name').after('<div class="text-danger" id="last_name-error">Last name <%= @rep.errors[:last_name].join(", ") %></div>')
    <% end %>
    <% if @rep.errors[:city].present? %>
        $('#email').after('<div class="text-danger" id="email-error">Email address <%= @rep.errors[:email].join(", ") %></div>')
    <% end %>

    addNotification('error', 'The account could not be updated, please see form for further information', 'Error', 'check-circle')
<% else %>
    addNotification('success', 'The account has been updated', 'Success', 'check-circle')
<% end %>
