<% if @success == true %>
    addNotification('success', 'The body markup for <%= @template.name %> was updated', 'Success', 'check-circle')
<% else %>
    <% missing_vars = Array.new %>
    <% @variables_present.each do |k,v| %>
        <% if v == false %>
            <% missing_vars.push("<strong>*|#{k.to_s.upcase}|*</strong>") %>
        <% end %>

    <% end %>
    <% missing_list = missing_vars.join(', ') %>
    addNotification('error', 'The body markup for <%= @template.name %> could not be updated.</p><p>You are missing these variables: <%= raw(missing_list) %>', 'Error', 'exclamation-circle')
<% end %>
