<% if @user.errors.any? %>
    addNotification('error', 'There was an error saving the balance', 'Error', 'exclamation-circle')
<% else %>
    $('#user_balance').html('$<%= number_with_precision(@user.balance, precision: 2) %>')
    $('#balance_2').html('$<%= number_with_precision(@user.balance, precision: 2) %>')
    addNotification('success', 'Balance updated', 'Success', 'check-circle')
    $('#add_balance').val('')
    $('#tx_details').html("<div class='stat-number'><div class='number'><i class='fa fa-refresh fa-spin'></i></div>Loading Details</div>")

    $.ajax({
        url: '/admin_choose_plan?user_id=<%= @user.id %>&plan_id='+$('#plan_id').val()+'&roku_id='+$('#tx_serial').val()
    })
<% end %>
