<% if @user.errors.any? %>
    var notification = new NotificationFx({
        message : '<p>There was an error saving the balance.</p>',
        layout : 'growl',
        effect : 'jelly',
        type : 'danger', // notice, warning, error or success
        num: <%= (100 + rand(10000)).to_s %>
    });
    notification.show()
<% else %>
    $('#user_balance').html('$<%= number_with_precision(@user.balance, precision: 2) %>')
    var notification = new NotificationFx({
        message : '<p>Balance updated.</p>',
        layout : 'growl',
        effect : 'jelly',
        type : 'success', // notice, warning, error or success
        num: <%= (100 + rand(10000)).to_s %>
    });
    notification.show()
<% end %>
