$('#commission_rate-error').remove()


<% if @rep.errors.any? %>
    <% if @rep.errors[:commission_rate].present? %>
        $('#new_rate').after('<div class="text-danger" id="commission_rate-error">Commission rate <%= @rep.errors[:commission_rate].join(", ") %></div>')
    <% end %>

    addNotification('error', 'The account could not be updated, please see form for further information', 'Error', 'exclamation-circle')
<% else %>
    addNotification('success', 'The account has been updated', 'Success', 'check-circle')
    $('#rep_rate').html('<%= @rep.commission_rate %>%')
<% end %>
