$('#first_name-error').remove()
$('#last_name-error').remove()
$('#email-error').remove()
$('#refer_code-error').remove()


<% if @user.errors.any? %>
    <% if @user.errors[:first_name].present? %>
        $('#first_name').after('<div class="text-danger" id="first_name-error">First name <%= @user.errors[:first_name].join(", ") %></div>')
    <% end %>
    <% if @user.errors[:last_name].present? %>
        $('#last_name').after('<div class="text-danger" id="last_name-error">Last name <%= @user.errors[:last_name].join(", ") %></div>')
    <% end %>
    <% if @user.errors[:email].present? %>
        $('#email').after('<div class="text-danger" id="email-error">Email address <%= @user.errors[:email].join(", ") %></div>')
    <% end %>
    <% if @user.errors[:refer_code].present? %>
        $('#refer_code').after('<div class="text-danger" id="refer_code-error">Referral code <%= @user.errors[:refer_code].join(", ") %></div>')
    <% end %>

    addNotification('error', 'The account could not be updated, please see form for further information', 'Error', 'exclamation-circle')
<% else %>
    addNotification('success', 'The account has been updated', 'Success', 'check-circle')
<% end %>
