<% content_for :top_level, 'Clients' %>
<% content_for :low_levels, YAML.dump(['Find a Client']) %>
<div id="left-scroll" class="nano">
    <div class="nano-content">
        <%= render 'admins/nav/user_nav' %>
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        Client List
                    </div>
                </div>
            </div>
            <div class="panel-body plr20">
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>

                    </div>
                    <div class='col-sm-6 col-xs-12 form-group'>
                        <%= text_field_tag :search, '', class: 'form-control', placeholder: 'Search Users' %>
                        <%= hidden_field_tag :search_num, -1 %>
                    </div>
                </div>
                <table class='table table-list fz11-5 table-hover table-striped'>
                    <thead><tr>
                        <td>Account #</td>
                        <td>Last Name</td>
                        <td>First Name</td>
                        <td>Email</td>
                        <td>City</td>
                        <td>State</td>
                        <td>Country</td>
                        <td>Zip Code</td>
                        <td>Phone 1</td>
                        <td>Phone 2</td>
                        <td>Phone 3</td>
                        <td>Mobile</td>
                    </tr></thead>
                    <tbody id='user_table'>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script>
    $('#all_users').addClass('active')

    var search_num = 0;

    $('#search').keyup(function(){
        if ($(this).val() != '') {
            $.ajax({
                url: '/admin_search_users_table?search='+$(this).val()
            })
        }
        else {
            $('#user_table').html('')
        }
    })
</script>
