<% content_for :top_level, 'Administrator Management' %>

<div id="left-scroll" class="nano">
    <div class="nano-content">
        <% if @admin.id == current_admin.id %>
            <%= render 'admins/partials/my_account' %>
        <% elsif current_admin.authorized_to?('manage_admin') %>
            <% if current_admin.role == 'Root' %>
                <%= render 'admins/partials/admin_reg' %>
            <% else %>
                <% if @admin.role == 'Root' %>
                    <%= render 'admins/partials/admin_root' %>
                <% else %>
                    <%= render 'admins/partials/admin_reg' %>
                <% end %>
            <% end %>
        <% else %>
            <% flash[:error] = 'You are not allowed to view that.' %>
            <% redirect_to '/admins' and return %>
        <% end %>
    </div>
</div>
