<div class="footer" id='main-footer'>
	<div class="footer-top">
        <div class="container">
			<% @data = YAML.load(Setting.where(name: 'Footer Content').first.data) %>
        	<div class="row">
				<% @data.each_with_index do |data, i| %>
					<% unless i > 5 %>
	            	<div class="col-md-2 col-sm-4">
	                	<h3><%= data[:name] %></h3>
						<%= raw(data[:html]) %>
	                </div>
					<% end %>
				<% end %>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-9 col-md-10">
                	<%= raw(@data[6]) %>
                </div>
            </div>
        </div>
    </div>
</div>
