<div class="navbar yamm navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag('logo.png'), root_url, class: 'navbar-brand' %>
        </div>
        <div class="sep hidden-xs"></div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown yamm-fw">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">START <span class="caret"></span></a>
                    <div class="dropdown-menu keep-open ptb0">
                        <div class="yamm-content">
                            <div class="row row0">
                                <div class="col-sm-3">
                                    <div class="bg-f8f8f8">
                                        <ul class="nav">
                                            <li class="active"><a href="#watch-submenu" data-toggle="menu-d">Watch <span class="caret-right"></span></a></li>
                                            <li><a href="#activateroku-submenu" data-toggle="menu-d">Activate Roku <span class="caret-right"></span></a></li>
                                            <li><a href="#subscription-submenu" data-toggle="menu-d">Subscription <span class="caret-right"></span></a></li>
                                            <li><a href="#contactus-submenu" data-toggle="menu-d">Contact Us <span class="caret-right"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-9 relative">
                                    <div class="p1520">
                                        <div id="watch-submenu" class="menu-dsubmenu" style="display:block;">
                                            <h3 class="fz18 text-light mt0 mb0">Watch on Malimar.tv</h3>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <ul class="nav nav-nobg">
                                                        <li><a href="#">Free Live TV Channels</a></li>
                                                        <li><a href="#">Premium TV Channels</a></li>
                                                        <li><a href="#">TV Shows</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-3">
                                                    <ul class="nav nav-nobg">
                                                        <li><a href="#">Movies</a></li>
                                                        <li><a href="#">Karaoke</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="activateroku-submenu" class="menu-dsubmenu" style="display:none;">
                                            <h3 class="fz18 text-light mt0 mb0">Activate Roku</h3>
                                        </div>
                                        <div id="subscription-submenu" class="menu-dsubmenu" style="display:none;">
                                            <h3 class="fz18 text-light mt0 mb0">Subscription</h3>
                                        </div>
                                        <div id="contactus-submenu" class="menu-dsubmenu" style="display:none;">
                                            <h3 class="fz18 text-light mt0 mb0">Contact Us</h3>
                                        </div>
                                    </div>
                                    <div class="figure-right0 hidden-xs"><img src="/assets/imh-02.jpg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="sep hidden-xs hidden-sm"></div>
            <div class="navbar-form navbar-left hidden-sm" role="search" style='position:relative'>
                <div class="form-group">
                    <span class="glyphicon glyphicon-search"></span>
                    <%= text_field_tag :video_search, '', class: 'form-control', placeholder: 'What are you looking to watch?', autocomplete: 'off' %>
                </div>
                <div class='navbar_search_results hidden-sm hidden-xs' id='search_results'>
                    <div class='search_placeholder' id='search_placeholder'>
                        Enter your search
                    </div>
                    <div class='search_result_list'>

                    </div>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><div class="sep hidden-xs"></div></li>
                <li><%= link_to 'ACCOUNT', account_path %></li>
                <li><div class="sep hidden-xs"></div></li>
                <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
                <li><div class="sep hidden-xs"></div></li>
            </ul>
        </div>
    </div>
</div><!--navbar-->

<script>
$('#video_search').focus(function(){
    $('#search_results').show()
})
$('#video_search').blur(function(){
    $('#search_results').hide()
})
$('#video_search').keyup(function(){
    if ($(this).val() == '') {
        $('#search_placeholder').html('Enter your search')
    }
    else {
        $('#search_placeholder').html('<i class="fa fa-spinner fa-spin"></i> Loading results...')

    }
})
</script>
