$('#note_<%= @id %>').remove()
var notification = new NotificationFx({
    message : '<p>Your note has been deleted.</p>',
    layout : 'growl',
    effect : 'jelly',
    type : 'success', // notice, warning, error or success
    num: <%= (100 + rand(10000)).to_s %>
});
notification.show()
