$('#current-error').remove()
$('#confirmation-error').remove()
$('#length-error').remove()
$('#success').remove()
<% if @error.nil? %>
    $('#current').after('<div class="text-success" id="success">Your password has been updated</div>')
    $('#current').val('')
    $('#new').val('')
    $('#new_confirmation').val('')
<% else %>
    <% if @error_type == 'Current' %>
        $('#current').after('<div class="text-danger" id="current-error"><%= @error %></div>')
    <% elsif @error_type == 'Confirmation' %>
        $('#new_confirmation').after('<div class="text-danger" id="confirmation-error"><%= @error %></div>')
    <% elsif @error_type == 'Length' %>
        $('#new').after('<div class="text-danger" id="length-error"><%= @error %></div>')
    <% end %>
<% end %>
