<div class="splash">
    <div class="container">
        <h3 class="name">Start Using Roku</h3>
    </div>
</div><!--splash-->
<div class="content">
    <div class="container">
        <div class="mlr90">
            <div class="box-white" id='content'>
                <%= render("users/activation/step_1") %>
            </div>
        </div>
    </div>
</div><!--content-->
