<% if @error.nil? %>
    var notification = new NotificationFx({
        message : '<p><%= @error %></p>',
        layout : 'growl',
        effect : 'jelly',
        type : 'success', // notice, warning, error or success
        num: <%= (100 + rand(10000)).to_s %>
    });
    notification.show()
<% else %>
    var notification = new NotificationFx({
        message : '<p>You\'ve successfully subscribed</p>',
        layout : 'growl',
        effect : 'jelly',
        type : 'success', // notice, warning, error or success
        num: <%= (100 + rand(10000)).to_s %>
    });
    notification.show()
    $('#sub_form').remove()
<% end %>
