$('#device_<%= @id %>').remove()
$('#device_modal').modal('hide')

var notification = new NotificationFx({
    message : '<p>Your device has been unlinked.</p>',
    layout : 'growl',
    effect : 'jelly',
    type : 'success', // notice, warning, error or success
    num: <%= (100 + rand(10000)).to_s %>
});

notification.show()
