<% if @channels.count > 0 || @movies.count > 0 || @shows.count > 0 %>
    $('#search_placeholder').html('<%= @channels.count + @movies.count + @shows.count %> found')
    $('#search_result_list').html('')
    <% @channels.each do |channel| %>
        $('#search_result_list').append('<div class="result"><%= link_to channel.name, watch_channel_path(channel_id: channel.id) %></div>')
    <% end %>
    <% @movies.each do |movie| %>
        $('#search_result_list').append('<div class="result"><%= link_to movie.name, watch_movie_path(movie_id: movie.id) %></div>')
    <% end %>
    <% @shows.each do |show| %>
        $('#search_result_list').append('<div class="result"><%= link_to show.name, browse_episodes_path(show_id: show.id) %></div>')
    <% end %>
    $('#search_result_list').show()
<% else %>
    $('#search_placeholder').html(':( No results found')
    $('#search_result_list').html('')
<% end %>
