<% users = User.all.order(last_name: :asc) %>
<div class="right-side">
    <div class="panel">
        <div class="panel-heading ptb0">
            <form class="form-search1">
                <%= text_field_tag :user_search, '', placeholder: 'Quick Search', class: 'form-control', autocomplete: 'off', style: 'background-color: transparent' %>
                <span class="glyphicon glyphicon-search"></span>
            </form>
        </div>
        <div class="panel-body plr0">
            <div id="right-scroll" class="nano">
                <div class="nano-content">
                    <ul class="nav list-user" id='user_full_list'>

                    </ul>
                    <ul class="nav list-user" style='display:none' id='user_search_list'>
                    </ul>
                </div>
            </div>
            <div class="btn-wrap">
                <%= link_to 'New Client', new_user_path, class: 'btn btn-default btn-sm btn-block' %>
            </div>
            <div class="stat-number">
                <div class="number"><%= @data.new_sign_ups %></div>
                New Members Today
            </div>
        </div>
    </div>
</div><!--right-side-->
<script>
    $('#user_search').keyup(function(){
        if ($('#user_search').val() == '') {
            $('#user_search_list').hide();
            $('#user_full_list').show();
        }
        else {
            $('#user_search_list').show();
            $('#user_full_list').hide();
            $.ajax({
                url: '/side_search_users?search='+$('#user_search').val()
            })
        }
    })
</script>
