<ul class="nav nav-pills nav-stacked">
    <li id='timezone_side'><%= link_to 'Time Zone', edit_timezone_path %></li>
    <li id='device_limit'><%= link_to 'Device Limit', edit_device_limit_path %></li>
    <li id='free_trial'><%= link_to 'Free Trial', edit_free_trial_path %></li>
    <li id='withdrawal_limits'><%= link_to 'Withdrawal Limits', edit_wd_limits_path %></li>
</ul>
