<div class="navbar-fixed-top">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag('admin_logo.png'), '/admins', class: 'navbar-brand' %>
            </div>
            <% if admin_signed_in? %>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if current_admin.authorized_to?('manage_user') %><li><%= link_to 'Clients', search_users_path %></li><% end %>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Billing</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Report</a></li>
                    <li><a href="#">Utilities</a></li>
                    <li><a href="#">Setup</a></li>
                    <li><a href="#">Help</a></li>
                    <li class="menu-icon dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-tags fa-flip-horizontal"></span><span class="count">2</span></a>
                    	<ul class="dropdown-menu w265">
                        	<li class="bb0"><span><i class="icon-tags"></i> Recent Orders</span></li>
                            <li>
                            	<table class="table fz12-5">
                                	<tbody>
                                    <tr>
                                    	<td class="text-grey">23:50</td>
                                    	<td>#72edfg45</td>
                                    	<td><span class="icon-user-sm"></span> Victor Tacitus</td>
                                    </tr>
                                    <tr>
                                    	<td class="text-grey">23:10</td>
                                    	<td>#qwedcs2</td>
                                    	<td><span class="icon-user-sm"></span> Yun Ragna</td>
                                    </tr>
                                    <tr>
                                    	<td class="text-grey">22:15</td>
                                    	<td>#qwe34gv</td>
                                    	<td><span class="icon-user-sm"></span> Olayin Kristin</td>
                                    </tr>
                                    <tr>
                                    	<td class="text-grey">20:40</td>
                                    	<td>#wqecds5</td>
                                    	<td><span class="icon-user-sm"></span> Danko Nikodim</td>
                                    </tr>
                                    <tr>
                                    	<td class="text-grey">13:12</td>
                                    	<td>#587kjmfg</td>
                                    	<td><span class="icon-user-sm"></span> Elvire Maya</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                        	<li class="dropdown-footer"><a href="#">See All Orders</a></li>
                        </ul>
                    </li>
                    <li class="menu-icon dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ticket"></i><span class="count">18</span></a>
                        <ul class="dropdown-menu w265">
                            <li class="bb0"><span><span class="icon-ticket"></span> Recent Support Tickets</span></li>
                            <li>
                                <table class="table fz12-5">
                                    <tbody>
                                    <tr>
                                        <td class="text-grey">23:50</td>
                                        <td>#72edfg45</td>
                                        <td><span class="icon-user-sm"></span> Victor Tacitus</td>
                                    </tr>
                                    <tr>
                                        <td class="text-grey">23:10</td>
                                        <td>#qwedcs2</td>
                                        <td><span class="icon-user-sm"></span> Yun Ragna</td>
                                    </tr>
                                    <tr>
                                        <td class="text-grey">22:15</td>
                                        <td>#qwe34gv</td>
                                        <td><span class="icon-user-sm"></span> Olayin Kristin</td>
                                    </tr>
                                    <tr>
                                        <td class="text-grey">20:40</td>
                                        <td>#wqecds5</td>
                                        <td><span class="icon-user-sm"></span> Danko Nikodim</td>
                                    </tr>
                                    <tr>
                                        <td class="text-grey">13:12</td>
                                        <td>#587kjmfg</td>
                                        <td><span class="icon-user-sm"></span> Elvire Maya</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li class="dropdown-footer"><a href="#">See All Tickets</a></li>
                        </ul>
                    </li>
                    <li class="menu-icon dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="count">18</span></a>
                        <ul class="dropdown-menu w265">
                            <li class="bb0"><span><i class="fa fa-bell"></i> Notifications</span></li>
                            <li>
                                <table class="table fz12-5">
                                    <tbody>
                                    <tr>
                                        <td class="text-grey">23:50</td>
                                        <td>#72edfg45</td>
                                        <td><span class="icon-user-sm"></span> Victor Tacitus</td>
                                    </tr>
                                    <tr>
                                        <td class="text-grey">23:10</td>
                                        <td>#qwedcs2</td>
                                        <td><span class="icon-user-sm"></span> Yun Ragna</td>
                                    </tr>
                                    <tr>
                                        <td class="text-grey">22:15</td>
                                        <td>#qwe34gv</td>
                                        <td><span class="icon-user-sm"></span> Olayin Kristin</td>
                                    </tr>
                                    <tr>
                                        <td class="text-grey">20:40</td>
                                        <td>#wqecds5</td>
                                        <td><span class="icon-user-sm"></span> Danko Nikodim</td>
                                    </tr>
                                    <tr>
                                        <td class="text-grey">13:12</td>
                                        <td>#587kjmfg</td>
                                        <td><span class="icon-user-sm"></span> Elvire Maya</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li class="dropdown-footer"><a href="#">See All Tickets</a></li>
                        </ul>
                    </li>
                    <li><div class="sep"></div></li>
                    <li class="user dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="img/avatar.png"> <%= current_admin.name %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        	<li><span>Gordon Shumway <span class="online"></span></span></li>
                        	<li><a href="#"><span class="icon-user-circle"></span> Admin Profile</a></li>
                        	<li><a href="#"><span class="icon-cog"></span> Preferences</a></li>
                        	<li><a href="#"><span class="icon-key"></span> Password</a></li>
                        	<li class="dropdown-footer"><a href="#"><span class="glyphicon glyphicon-lock"></span> Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <% end %>
        </div>
    </nav>
    <% if admin_signed_in? %>
    <div class="subnav">
    	<div class="container-fluid">
        	<div class="clearfix">
                <div class="subnav-left">
                    <button type="button" class="sidebar-toggle" data-toggle="sidebar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <form class="form-search">
                    	<input type="text" class="form-control" placeholder="Quick Search">
                        <span class="glyphicon glyphicon-search"></span>
                    </form>
                </div>
                <div class="subnav-right">
                	<ol class="breadcrumb">
                    	<li><a href="#"><span class="icon-home"></a></li>
                        <li class="active"><span>Dashboard</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
