<div class="sidebar">
	<ul class="nav">
    	<li><a href="#"><span class="icon-user"></span> New Client</a></li>
    	<li><a href="#"><span class="icon-tags"></span> Manage Orders</a></li>
    	<li><a href="#"><span class="icon-phone"></span> Register New Device</a></li>
    	<li><a href="#"><span class="icon-attach"></span> New To-Do Entry</a></li>
    	<li><a href="#"><span class="icon-ticket"></span> Open New Ticket</a></li>
    </ul>
    <div class="sign-out">
    	<a href="#" class="btn btn-inverse btn-sm btn-block"><span class="glyphicon glyphicon-lock"></span> Sign Out</a>
    </div>
</div><!--sidebar-->
