<div class="panel">
    <div class="panel-body plr20">
        <%= link_to 'All Clients', all_users_path, class: 'btn btn-primary' %>
        <%= link_to 'Find a Client', search_users_path, class: 'btn btn-primary' %>
        <%= link_to 'New Client', new_user_path, class: 'btn btn-primary' %>
    </div>
</div>
