<!DOCTYPE html>

<head>

</head>
<body>
	<h3>Your Sales Representative Credentials</h3>

	<p><strong>Username:</strong> <%= @rep.email %><br/>
		<strong>Password:</strong> <%= @password %></p>

	<p>We suggest changing your password after logging in</p>
</body>