<% @filtered_channels.each do |channel| %>
    <div id='channel_search_<%= channel.id %>' class='channel_list_item' onclick='viewChannel(<%= channel.id %>)'>
        <div class='image_wrapper'>
        <%= image_tag channel.image_url(:preview) %>
        </div>
        <div class='channel_name'><%= channel.name %></div>
        <% if channel.free? %>
            <div class='premium_banner'><span class="label label-success">FREE</span></div>
        <% else %>
            <div class='premium_banner'><span class="label label-primary">PREMIUM</span></div>
        <% end %>
    </div>
<% end %>
