<<div class='checklist'>
    <div class='checklist-item'>
        <%= text_field_tag 'list_item[]', @list_item, class: 'form-control' %>
    </div>
    <div class='checklist-delete'>
        <i class='fa fa-times' onclick='$(this).parent().parent().remove()'></i>
    </div>
</div>
