<div class="btn-group">
    <%= link_to 'Account', account_path, class: 'btn-link btn-name btn-lg' %>
    <%= link_to 'Devices', my_devices_path, class: 'btn-link btn-name btn-lg' %>
    <%= link_to 'Billing', my_billing_path, class: 'btn-link btn-name btn-lg' %>
    <%= link_to 'Support', my_support_path, class: 'btn-link btn-name btn-lg' %>
</div>
