/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require support_styles
 *= require transaction_styles
 *= require video_cms
 *= require animate
 *= require notifications
 *= require dataTables_bootstrap
 */
 html, body
{
    height: 100%;
}
 .navbar {
 	border-radius: 0;
 	border: 0;
 }
 #feed_wrapper {
 	overflow-y: scroll;
 	max-height: 320px;
 }
 .feed_message {
 	padding: 10px; font-size: 20px
 }
 .feed_message .fa {
 	font-size: 30px;
 }
.update {
	position: relative;
	height: 60px;
	border-bottom: 1px solid #ccc;
}
.update .details {
	position: absolute;
	width: calc(100% - 60px);
	height: 100%;
	top: 0;
	right: 0;
	padding: 3px;
}
.update .details .activity_type {
	position: absolute;
	font-weight: lighter;
	top: 3px;
	left: 3px;
	margin:0;
	max-width: calc(100% - 120px);
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	o-text-overflow:ellipsis;
}
.update .details .timestamp {
	position: absolute;
	font-weight: lighter;
	top: 3px;
	right: 3px;
	margin:0;
}
.update .details .message {
	position: absolute;
	top: 20px;
	left: 3px;
	margin:0;
	max-width: 100%;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	o-text-overflow:ellipsis;
}
.update .details .view_details {
	position: absolute;
	bottom: 3px;
	left: 3px;
	margin:0;
	font-size: 80%;
}
.update .feed_profile_image {
	position: absolute;
	height: 60px;
	width: 60px;
	top: 0;
	left: 0;
	border-right: 1px solid #ccc;
}
.update .feed_profile_image .feed_image_wrapper {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 50px;
	width: 50px;
	font-size: 48px;
	line-height: 54px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #ccc;
	overflow: hidden;
}

 .users-wrapper {
 	position: absolute;
 	top: 50px;
 	left: 0;
 	width: 100%;
 	height: calc(100% - 50px)
 }
 .users-area {
 	position: absolute;
 	top:0;
 	left: 0;
 	width:300px;
 	height: 100%;
 	border-right: 1px solid #222222;
 }
 .users-search {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 40px;
 	background-color: #333333;
 }
 .users-search > input {
 	position: absolute;
 	height: 30px;
 	top: 5px;
 	left: 10px;
 	width: 280px;
 	border:0;
 	text-align: left;
 	padding: 1px 5px;
 	border-radius: 3px;
 	z-index: 1;
 }
 .users-search > .placeholder {
 	position: absolute;
 	height: 30px;
 	top: 5px;
 	left: 120px;
 	line-height: 30px;
 	color: #ddd;
 	z-index: 2;
 	background-color: transparent;

 }
.users-list {
	position: absolute;
	top: 40px;
	left: 0;
	width: 300px;
	overflow-y: scroll;
}
.search-users-list {
	position: absolute;
	top: 60px;
	left: 0;
	width: 300px;
	overflow-y: scroll;
}
.results-count {
	position: absolute;
	top: 40px;
	width: 100%;
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	background-color: #333333;
	font-weight: bolder;
	text-align: center;
	color: #fff;
}
.user {
	width: 299px;
	border-bottom: 1px solid #222222;
	height: 61px;
	padding: 1px 5px 1px 65px;
	position: relative;
	cursor: pointer;
}
.user:hover {
	background-color: #ededed;
}
.user .profile-picture {
	height: 60px;
	width: 61px;
	position: absolute;
	top: 0;
	left: 0;
	border-right: 1px solid #222222;
}

.profile-picture .wrapper {
	border: 1px solid #222222;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 5px;
	left: 5px;
	text-align: center;
	line-height: 52px;
	overflow: hidden;
	font-size: 52px;
}

.user .name {
	font-weight: bolder;
	margin: 0;
	max-width: 225px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	o-text-overflow:ellipsis;
	font-size: 120%;
}
.user .email {
	font-weight: lighter;
	margin: 0;
	max-width: 225px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	o-text-overflow:ellipsis;
	font-size: 80%;
}

.user.active {
	color: #fff;
	background-color: #222222;
}
.user.active .profile-picture {
	border-right: 1px solid #fff;
}
.user.active .profile-picture .wrapper {
	border: 1px solid #fff;
}

.user-info {
	position: absolute;
	top: 0;
	left: 300px;
	padding: 0 10px;
	height: 100%;
	max-height: 100%;
	width: calc(100% - 300px);
	overflow-y: scroll;
}
.user-info > .row {
	margin-right: 0;
}
.user-name {
	margin-top: 0;
	position: relative;
	height: 76px;
	line-height: 66px;
}
.user-name .profile-picture-view {
	height: 66px;
	width: 66px;
	position: absolute;
	top: 5px;
	right: 0;
}
.profile-picture-view .wrapper-view {
	border: 1px solid #222222;
	border-radius: 50%;
	height: 66px;
	width: 66px;
	text-align: center;
	line-height: 68px;
	overflow: hidden;
	font-size: 68px;
}
input.has-error {
	border-color: #a94442;
}
.col-centered{
	float: none;
	margin: 0 auto;
}

.plan_price {
	text-align: center;
}
.plan_price .total {
	font-size: 40px;
	text-align: center;
	margin: 0 0 5px;
}
.plan_price > .monthly {
	color: #ccc;
}
.plan_features {
	margin: 5px 0 0;
}

.success_display {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}
.success_display .success_message {
	font-size: 20px;
	margin-top: 30px;
}
.success_display .fa-check-circle {
	font-size: 120px;
	color: #3c763d;
}

.commission_detail {
	font-size: 130%;
}

.feature {
	position: relative;
}
.feature input {
	padding-right: 40px;
}
.feature .delete {
	position: absolute;
	top: 1px;
	right:1px;
	height: 32px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: #fff;
	width: 35px;
	border-left: 1px solid #CCC;
	line-height: 32px;
	text-align: center;
	font-size: 20px;
}
.feature .delete {
	color: #a94442;
}
.feature .delete:hover {
	background-color: #a94442;
	color: #fff;
	cursor: pointer;
}

.password {
	position: relative;
}
.password input {
	padding-right: 40px;
}
.password .show_password {
	position: absolute;
	bottom: 1px;
	right:1px;
	height: 32px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: #fff;
	width: 35px;
	border-left: 1px solid #ccc;
	line-height: 32px;
	text-align: center;
	font-size: 20px;
}
.password .show_password {
	color: #428bca;
}
.password .show_password:hover {
	background-color: #428bca;
	color: #fff;
	cursor: pointer;
}

.video {
	width: 150px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	float: left;
	margin: 5px;
	position: relative;
	height: 300px;
}

.video > .image-wrapper {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 130px;
	height: 200px;
	line-height: 200px;
	font-size: 60px;
	text-align: center;
}
.video > .image-wrapper > img {
	max-width: 100px;
	max-height: 200px;
}

.video .upload {
	position: absolute;
	top: 225px;
	left:0;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.video .name {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	o-text-overflow:ellipsis;
	position: absolute;
	top: 250px;
	left:0;
	text-align: center;
	padding: 0 5px;
}

.devices {
    max-height: 200px;
    overflow-y: scroll;
}
.device {
   height: 55px;
   padding: 5px 0;
   position: relative;
   cursor:pointer;
}
.device:hover {
   background-color: rgba(25, 182, 234,0.1);
}
.device .type {
   position: absolute;
   top: 5px;
   left: 95px;
   width: calc(100% - 95px);
   font-weight: bold;
   font-size: 115%;
}
.device .serial {
   position: absolute;
   bottom: 10px;
   left: 95px;
   width: calc(100% - 95px);
   margin: 0;
}
.device .image_wrapper {
   position: absolute;
   top: 5px;
   left: 0;
   height: 45px;
   width: 80px;
   line-height: 45px;
   text-align: center;
   font-size: 25px;
}
.device .image_wrapper img {
   max-width: 80px;
   max-height: 45px;
}

.balance {
    font-size: 160%;
}
.transaction_details_wrapper {
    position: relative;
    height: 600px;
}
@media only screen and (max-width : 991px) {
    .transaction_details_wrapper .details_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 201px;
        height: 400px;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    .transaction_details_wrapper .time_line_chooser {
        position: absolute;
        top: 0;
        right: 0;
        width: 397px;
        height: 50px;
        border-bottom: 1px solid #ddd;
        line-height: 24px;
        padding: 0 15px;
    }
    .transaction_details_wrapper .chart_wrapper {
        position: absolute;
        top: 50px;
        right: 0;
        height: 350px;
        width: 397px;
        border-bottom: 1px solid #ddd;
        padding: 10px 5px 20px 15px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #loading_chart {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        height: 350px;
        width: 397px;
        line-height: 350px;
        font-size: 175px;
        text-align: center;
    }
    .transaction_details_wrapper .table_wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 200px;
        width: 100%;
        overflow-y: scroll;
    }
    #loading_table {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 200px;
        width: 100%;
        overflow-y: scroll;
        line-height: 200px;
        font-size: 100px;
        text-align: center;
    }
    .transaction_details_wrapper .table_wrapper .table {
        margin: 0;
    }
    .table-scroll {
        width: 598px;
        height: 200px;
    }
}

@media only screen and (min-width : 992px) {
    .transaction_details_wrapper .details_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 201px;
        height: 100%;
        border-right: 1px solid #ddd;
        padding: 10px;
    }
    .transaction_details_wrapper .time_line_chooser {
        position: absolute;
        top: 0;
        right: 0;
        width: 697px;
        height: 50px;
        border-bottom: 1px solid #ddd;
        line-height: 24px;
        padding: 0 15px;
    }
    .transaction_details_wrapper .chart_wrapper {
        position: absolute;
        top: 50px;
        right: 0;
        height: 350px;
        width: 697px;
        border-bottom: 1px solid #ddd;
        padding: 10px 5px 20px 15px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #loading_chart {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        height: 350px;
        width: 697px;
        line-height: 350px;
        font-size: 175px;
        text-align: center;
    }
    .transaction_details_wrapper .table_wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 200px;
        width: 697px;
        overflow-y: scroll;
    }
    #loading_table {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 200px;
        width: 697px;
        overflow-y: scroll;
        line-height: 200px;
        font-size: 100px;
        text-align: center;
    }
    .transaction_details_wrapper .table_wrapper .table {
        margin: 0;
    }
    .table-scroll {
        width: 697px;
        height: 200px;
    }
}

.notification-section {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10000;
    width: 320px;
    padding: 10px;
    max-height: calc(100% - 70px);
    overflow-y: scroll;
    overflow-x: visible;
}

.table-scroll thead {
    text-align:left;
    display: table;
    float: left;
    width: 100%;
}
.table-scroll thead tr {
    display: table-row;
    width: 100%;
}
.table-scroll tbody {
    display: block;
    height: 162px;
    overflow: auto;
    float: left;
    width: 100%;
}
.table-scroll tbody tr {
    display: table;
    width: 100%;
}
.table-scroll tbody tr {
    height: 18px;
}
.table-scroll tbody td {
    padding:1px 8px;
}
.table-scroll th, td {
    width: 25%;
}

.table-scroll tr:after{
    content: ".";
    visibility: hidden;
}
.withdrawal-field {
    text-align: right;
    height: 31px;
    line-height: 17px;
    padding-left: 41px;
    font-size: 18px;
}
.withdrawal-icon {
    position: absolute;
    top: 16px;
    left: 15px;
    text-align: center;
    line-height: 29px;
    height: 29px;
    width: 40px;
    border-right: 1px solid #ccc;
    font-size: 18px;
}
.withdrawal_item:hover {
    cursor: pointer;
}
.wd_detail {
    font-size: 120%;
}


.logo-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 232px;
    padding: 15px;
    text-align: center;
    line-height: 202px;
}
.logo-preview img {
    max-width: 100%;
    max-height: 100%;
}
.upload-bottom {
    position:absolute;
    bottom: 0;
    left: 0;
    height: 21px;
    border-top: 1px solid #ddd;
    width: 100%;
    overflow: hidden;
}
.upload-bottom .progress {
    width: 100%;
    height: 20px;
    margin: 0;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.upload-bottom .progress .progress-bar {
    max-height: 20px
}

.note-images {
    display: none;
    height: 250px;
    overflow-y: scroll;
}
.note-image {
    border: 1px solid #ccc;
    position: relative;
    margin-bottom: 5px;
}
.note-image-wrapper {
    height: 200px;
    width: 100%;
    line-height: 200px;
    border-radius: 3px;
    text-align: center;
}
.note-image-wrapper img, .note-image-wrapper .fa {
    max-height: 100%;
    max-width: 100%;
}
.note-image-wrapper .fa {
    font-size: 200%;
}
.del-note-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f00;
    padding: 0 4px;
    color: #fff;
}
.del-note-image-wrapper:hover {
    cursor: pointer;
    color: #f00;
    background-color: #fff;
}
.note-image-name {
    height: 20px;
    width: 100%;
    border-top: 1px solid #ccc;
    line-height: 19px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    o-text-overflow:ellipsis;
    text-align: center;
}
