/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require nanoscroller
 *= require dataTables_bootstrap
 *= require_self
 *= require transaction_styles
 *= require video_cms
 *= require animate
 *= require notifications
 *= require new_admin_style
 */
.sidebar .nav{
    max-height: calc(100% - 51px);
    overflow-y: scroll;
    overflow-x: hidden;
}


.support_image_wrapper {
    padding: 5px;
    text-align: center;
    max-height: 60px;
    line-height: 50px;
}
.support_image_wrapper:hover {
    background-color: #eee;
}
.support_image_wrapper a img {
    max-height: 50px;
    max-width: 100%;
}
.list-user li, .list-user a {
    cursor: pointer;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.password {
    position: relative;
}
.password input {
    padding-right: 41px;
}
.show_password {
    position: absolute;
    height: 32px;
    width: 40px;
    bottom: 1px;
    right: 1px;
    border-left: 1px solid #ccc;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    background-color: #fff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}


.feature {
    position: relative;
}
.feature input {
    padding-right: 41px;
}
.delete {
    position: absolute;
    height: 32px;
    width: 40px;
    bottom: 1px;
    right: 1px;
    border-left: 1px solid #ccc;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    color: #f00;
    background-color: #fff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}
.delete:hover {
    color: #fff;
    background-color: #f00;
}


.logo-preview {
    height: 210px;
    width: 100%;
    text-align: center;
    line-height: 210px;
}
.logo-preview img {
    max-width: 100%;
    max-height: 100%;
}
.upload-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 20px;
}
.upload-bottom .progress {
    margin: 0;
}




.transaction_details_wrapper {
    position: relative;
    height: 600px;
    width: 100%;
}

.transaction_details_wrapper .details_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    border-right: 1px solid #ddd;
    background-color: #eaeaea;
}
.transaction_details_wrapper .details_wrapper .scroller {
    position: absolute;
    top:0;
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
    left: 0;
    padding: 5px;
}
.transaction_details_wrapper .details_wrapper .invoice {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    padding: 0 10px;
    width: 100%;
    border-top: 1px solid #ddd;
}

.transaction_details_wrapper .details_wrapper .tx_detail {
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 5px;
}
.transaction_details_wrapper .details_wrapper .tx_detail .tx_detail_title {
    font-size: 120%;
    padding: 3px 5px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.transaction_details_wrapper .details_wrapper .tx_detail .tx_detail_info {
    font-size: 150%;
    padding: 3px 5px;
    text-align: center;
}

.transaction_details_wrapper .time_line_chooser {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    height: 50px;
    padding: 4px 5px;
    border-bottom: 1px solid #ddd;
}
.transaction_details_wrapper .chart_wrapper {
    position: absolute;
    top: 50px;
    right: 0;
    height: 350px;
    width: calc(100% - 250px);
}

#loading_chart {
    position: absolute;
    top: 50px;
    right: 0;
    height: 350px;
    width: calc(100% - 250px);
    line-height: 350px;
    text-align: center;
    font-size: 400%;
}
#loading_chart .fa-exclamation-triangle {
    font-size: 200%;
}

.transaction_details_wrapper .table_wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    border-top: 1px solid #ddd;
}

#loading_table {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    border-top: 1px solid #ddd;
    line-height: 200px;
    text-align: center;
    font-size: 400%;
}
.transaction_details_wrapper table {
    width: 100%;
}

.transaction_details_wrapper thead, .transaction_details_wrapper tbody, .transaction_details_wrapper tr, .transaction_details_wrapper td, .transaction_details_wrapper th { display: block; }

.transaction_details_wrapper tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.transaction_details_wrapper thead th {
    width: 25%;
    height: 37px;
    /*text-align: left;*/
}

.transaction_details_wrapper tbody {
    height: 162px;
    overflow-y: auto;
}

.transaction_details_wrapper thead {
    /* fallback */
}


.transaction_details_wrapper tbody td, .transaction_details_wrapper thead th {
    width: 25%;
    float: left;
}

@media (max-width: 992px) {
    .transaction_details_wrapper .table_wrapper {
        width: 100%;
    }
    #loading_table {
        width: 100%;
    }
    .transaction_details_wrapper .details_wrapper {
        height: 400px;
    }
}
@media (min-width: 993px) {
    .transaction_details_wrapper .table_wrapper {
        width: calc(100% - 250px);
    }
    #loading_table {
        width: calc(100% - 250px);
    }
    .transaction_details_wrapper .details_wrapper {
        height: 100%;
    }
}
.dataTables_filter label {
    width: 100%;
    text-align: right;
}
.dataTables_filter label .input-sm {
    width: 75%;
    margin-left: 6px;
}


.device-preview img {
    height: 80px;
    max-width: 100%;
}

.devices {
    max-height: 250px;
    overflow-y: scroll;
}

.message {
    position: relative;
}
.message_wrapper {
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

.message_wrapper .attach_file {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 70px;
    width: 100px;
    border: 2px dashed #eee;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 3px;
}
.message_wrapper .attach_file .progress {
    position: absolute;
    bottom: 2px;
    left: 3px;
    margin: 0;
    width: 90px;
    height: 8px;
    border-radius: 4px;
    border:0;
}
.message_wrapper .text_message {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 70px;
    width: calc(100% - 115px);
}
.message_wrapper .text_message form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.message_wrapper .text_message a {
    position: absolute;
    right: 0;
    display: block;
    height: 70px;
    text-align: center;
    width:100px;
    line-height: 66px;
    font-size: 24px;
    border: 2px solid #eee;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
}
.message_wrapper .text_message a:hover {
    background-color: #eee;
}
.message_wrapper .text_message textarea {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: calc(100% - 105px);
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
}
.message .btn {
    margin-top: 5px;

    max-width: 200px;
    width: calc(100% - 80px);
    height: 70px;
    line-height: 68px;
    padding-top: 0;
    padding-bottom: 0;
}
.checklist {
    position: relative;
    max-width: 400px;
    height: 34px;
    margin-bottom: 1px;
}
.checklist-box {
    width: 15px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 34px;
}
.checklist-delete {
    width: 15px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 34px;
    cursor: pointer;
    color: #f00;
}
.checklist-item {
    width: calc(100% - 30px);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 34px;
}
.delete_note {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.withdrawal-field {
    padding-left: 35px;
}
.withdrawal-icon {
    position: absolute;
    top: 11px;
    left: 11px;
    width: 30px;
    text-align: center;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid #ddd;
    height: 32px;
    line-height: 32px;
}
.grid_photo {
    max-height: 275px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.grid_photo img {
    max-height: 255px;
    max-width: 100%;
}
.grid_photo .upload_div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}
.upload_div .progress {
    margin: 0;
}
