
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require style
 *= require style1
 *= require user_support_styles
 *= require animate
 *= require minimalist
 *= require notifications
 *= require slick
 */
.large_image_wrapper {
    height: 250px;
    width: 100%;
    line-height: 250px;
    text-align: center;
}
.large_image_wrapper img {
    max-width: 100%;
    max-height: 100%;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.new_device_success {
    height: 300px;
    display: none;
}
.new_device_success .icon {
    text-align:center;
    height: 250px;
    line-height:250px;
    font-size: 200px;
    color: #3c763d;
}
.new_device_success .message {
    color: #3c763d;
    font-size: 24px;
    text-align:center;
    height: 50px;
    line-height: 50px;
}
h4.name {
	color: rgb(25, 182, 234);
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 200;
}
.page-title {
    color: rgb(25, 182, 234);
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
}
 .account-box {
 	height: 300px;
 }
 .panel-scroll {
 	max-height: 300px;
 	overflow-y: scroll;
 	position: relative;
 }
.device {
	height: 55px;
	padding: 5px 0;
	position: relative;
    cursor:pointer;
}
.device:hover {
    background-color: rgba(25, 182, 234,0.1);
}
.device .type {
	position: absolute;
	top: 5px;
	left: 95px;
	width: calc(100% - 95px);
	font-weight: bold;
	font-size: 115%;
}
.device .serial {
	position: absolute;
	bottom: 10px;
	left: 95px;
	width: calc(100% - 95px);
	margin: 0;
}
.device .image_wrapper {
	position: absolute;
	top: 5px;
	left: 0;
	height: 45px;
	width: 80px;
	line-height: 45px;
	text-align: center;
	font-size: 25px;
}
.image_wrapper img {
	max-width: 80px;
	max-height: 45px;
}

.subscriptions {
	height: 175px;
}
h5.member-level {
	font-size: 120%;
	font-weight: bolder;
	margin: 0;
}
.expiry {
	font-style: italic;
	margin: 0 0 3px;
}
.transactions {
    max-height: 175px;
}
.transaction:hover {
    cursor: pointer;
    background-color: rgba(25, 182, 234, 0.2);
}
.transactions .transaction {
	height: 50px;
	position: relative;
	padding: 5px 0;
	margin-bottom: 5px;
}
.transactions .transaction .plan {
	position: absolute;
	top: 5px;
	left: 0;
	font-weight: bold;
}
.transactions .transaction .amount {
	position: absolute;
	margin:0;
	bottom: 0;
	font-size: 130%;
}
.transactions .transaction .status {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 130%;
	margin: 0;
}
.transactions .transaction .timestamp {
	position: absolute;
	top: 5px;
	right: 0;
	margin: 0;
}


.navbar_search_results {
    position: absolute;
    top: 31px;
    left: 48px;
    background-color: #fff;
    width: calc(100% - 78px);
    display: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    max-height: 400px;
    overflow-y: scroll;
}
.navbar_search_results .search_placeholder {
    width: 100%;
    padding: 5px 15px;
}
.navbar_search_results .search_result_list {
    display: none;
    width: 100%;
}
.navbar_search_results .search_result_list .result {
    width: 100%;
    border-top: 1px solid #000;
    height: 51px;
    padding: 3px 15px;
    position: relative;
}
.navbar_search_results .search_result_list .result:hover {
    color: #fff;
    background-color: rgb(25, 182, 234);
    cursor: pointer;
}
.result .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align:center;
    background-color: #fff;
}
.result .image img {
    max-height: 50px;
    max-width: 50px;
}
.result .desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 5px 5px 5px 55px;
}
.result .desc .name {
    font-size: 120%;
    max-width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    o-text-overflow:ellipsis;
}
.result .desc .episodes {
    max-width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    o-text-overflow:ellipsis;
}
.navbar_search_results .search_result_list .result:hover .desc .name,
.navbar_search_results .search_result_list .result:hover .desc .episodes {
    color: #fff;
}
.episode_list_title {
    text-align: left;
    padding: 8px;
    margin: -8px -8px 0 -8px;
    border-bottom: 1px solid #ddd;
    font-weight: bolder;
}

.episode_list {
    height: 150px;
    overflow-y: scroll;
    margin: 0 -8px 8px -8px;
    border-bottom: 1px solid #ddd;
}
.episode_list .episode {
    height: 50px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.episode_list .episode:last-child {
    border: 0;
}
.episode_list .episode:hover, .episode_list .episode.active {
    background-color: #13b8f0;
    color: #fff;
    cursor: pointer;
}
.episode_list .episode .title {
    position: absolute;
    top: 3px;
    left: 8px;
}
.video_wrapper {
    width: 100%;
    height: 400px;
}

.scroller {
    overflow: hidden;
}

.mobile_player {
    padding-top: 150px;
    height:550px; 
    width: 100%; 
    background-color: #000; 
    position:relative;
}
.mobile_player .play_icon_lg {
    margin: auto;
    height: 100px;
    width: 100px;
}
.mobile_player .play_icon_lg img {
    height: 100px;
    width: 100px;
}
.mobile_player .mobile_bg_img {
    height: 550px;
}