.transactions {
	max-height: 300px;
	overflow-y: scroll;
}
.transactions .transaction {
	max-height: 50px;
	min-height: 50px;
	position: relative;
	width: 100%;
	padding: 5px;
}
.transactions .transaction .number {
	position: absolute;
	top: 5px;
	left: 5px;
	font-weight: bolder;
}
.transactions .transaction .amount {
	position: absolute;
	top: 5px;
	left: 90px;
	font-weight: bolder;
}
.transactions .transaction .plan {
	position: absolute;
	bottom: 5px;
	left: 90px;
	margin: 0;
}
.transactions .transaction .status {
	position: absolute;
	top: 0;
	right: 110px;
	min-width: 130px;
	height: 50px;
	text-align: center;
	font-weight: bolder;
}
.pending { color: #8a6d3b; }
.paid, .transactions .transaction .status.accepted  { color: #3c763d; }
.cancelled { color: #a94442; }
.refunded { color: #31708f; }
.transactions .transaction .invoice {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	width: 110px;
	text-align: center;
	line-height: 50px;
	border-left: 1px solid #ccc;
	border-radius-bottom-right: 3px;
	overflow: hidden;
}
.transactions .transaction .invoice a {
	font-weight: bolder;
	display: inline-block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
.transactions .transaction .invoice a:hover {
	background-color: #428bca;
	color: #fff;
}
.transactions .transaction .timestamp {
	position: absolute;
	bottom: 5px;
	left: 5px;
	margin: 0;
	font-weight: lighter;
}




.transaction_details_wrapper {
	position: relative;
	height: 600px;
	width: 100%;
}

.transaction_details_wrapper .details_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	border-right: 1px solid #ddd;
	overflow-y: scroll;
}
.transaction_details_wrapper .time_line_chooser {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 250px);
	height: 50px;
	padding: 4px 5px;
	border-bottom: 1px solid #ddd;
}
.transaction_details_wrapper .chart_wrapper {
	position: absolute;
	top: 50px;
	right: 0;
	height: 350px;
	width: calc(100% - 250px);
}

.transaction_details_wrapper .table_wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 200px;
	border-top: 1px solid #ddd;
}

.loading_table {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 200px;
	border-top: 1px solid #ddd;
	line-height: 200px;
	text-align: center;
	font-size: 400%;
}
.transaction_details_wrapper table {
    width: 100%;
}

.transaction_details_wrapper thead, .transaction_details_wrapper tbody, .transaction_details_wrapper tr, .transaction_details_wrapper td, .transaction_details_wrapper th { display: block; }

.transaction_details_wrapper tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.transaction_details_wrapper thead th {
	width: 25%;
	height: 37px;
    /*text-align: left;*/
}

.transaction_details_wrapper tbody {
    height: 162px;
    overflow-y: auto;
}

.transaction_details_wrapper thead {
    /* fallback */
}


.transaction_details_wrapper tbody td, .transaction_details_wrapper thead th {
    width: 25%;
    float: left;
}

@media (max-width: 992px) {
	.transaction_details_wrapper .table_wrapper {
		width: 100%;
	}
	.loading_table {
		width: 100%;
	}
	.transaction_details_wrapper .details_wrapper {
		height: 400px;
	}
}
@media (min-width: 993px) {
	.transaction_details_wrapper .table_wrapper {
		width: calc(100% - 250px);
	}
	.loading_table {
		width: calc(100% - 250px);
	}
	.transaction_details_wrapper .details_wrapper {
		height: 100%;
	}
}

td.sorting_asc .sort .fa-angle-down {
	color: #eee;
}
td.sorting_desc .sort .fa-angle-up {
	color: #eee;
}
