<li id='new_vod'><%= link_to 'New VOD Migration', new_vod_upload_path %></li>
<li id='all_vod'><%= link_to 'All VOD Migrations', vod_uploads_path %></li>
<li id='new_client'><%= link_to 'New Client Migration', new_client_upload_path %></li>
<li id='all_client'><%= link_to 'All Client Migrations', client_uploads_path %></li>
