<li id='new_rep'><%= link_to 'New Sales Rep', new_rep_path %></li>
<li id='all_reps'><%= link_to 'All Sales Reps', search_reps_main_path %></li>
<li id='withdrawals'><%= link_to 'Withdrawal Requests', sales_payment_requests_path %></li>
