<li id='channels_nav'><%= link_to 'Live Channels', live_channels_path %></li>
<li id='shows_nav'><%= link_to 'TV Shows', tv_shows_path %></li>
<li id='movies_nav'><%= link_to 'Movies', movies_path %></li>
<li id='grid_nav'><%= link_to 'Grid Management', admin_home_grid_path %></li>
