<div class='panel-heading'>
    <h3 class='panel-title'>Admin Permissions | <%= @admin.role %></h3>
</div>
<div class='panel-body'>
    <div class='row'>
        <div class='col-sm-6'>
            <% if @admin.authorized_to?('create_user') %><p><strong>Create User</strong></p><% end %>
            <% if @admin.authorized_to?('manage_user') %><p><strong>Manage User</strong></p><% end %>

            <% if @admin.authorized_to?('create_rep') %><p><strong>Create Sales Rep</strong></p><% end %>
            <% if @admin.authorized_to?('manage_rep') %><p><strong>Manage Sales Rep</strong></p><% end %>

            <% if @admin.authorized_to?('create_admin') %><p><strong>Create Admin</strong></p><% end %>
            <% if @admin.authorized_to?('manage_admin') %><p><strong>Manage Admin</strong></p><% end %>
        </div>
        <div class='col-sm-6'>
            <% if @admin.authorized_to?('accept_cancel_payments') %><p><strong>Accept/Cancel Payments</strong></p><% end %>
            <% if @admin.authorized_to?('authorize_withdrawal') %><p><strong>Authorize Rep Withdrawals</strong></p><% end %>

            <% if @admin.authorized_to?('update_plan_invoice') %><p><strong>Update Plans/Invoice Info</strong></p><% end %>

            <% if @admin.authorized_to?('update_videos') %><p><strong>Manage Video Content</strong></p><% end %>

            <% if @admin.authorized_to?('update_mail_settings') %><p><strong>Update Mail Settings</strong></p><% end %>

            <% if @admin.authorized_to?('manage_support_tickets') %><p><strong>Manage Support Tickets</strong></p><% end %>

            <% if @admin.authorized_to?('edit_general_settings') %><p><strong>Edit Site Settings</strong></p><% end %>

            <% if @admin.authorized_to?('edit_permissions') %><p><strong>Edit Admin Permissions</strong></p><% end %>
        </div>
    </div>
</div>
