<% if @message.errors.any? %>
	alert('You must enter text to send a message')
<% else %>
	$('#ticket_messages').prepend("<div class='message animated fadeIn'><div class='sent_message'><p class='title'>You said:</p><p class='timestamp'><em><%= custom_time_ago(@message.created_at) %></em></p><p><%= @message.message %></p></div></div>")
	$('#message').val('')
<% end %>