<div class='row'>
    <div class='col-md-6 modal-left'>
        <%= render('support/partials/details') %>
        <hr/>
        <%= render('support/partials/attachments') %>
    </div>
    <hr class='hidden-lg hidden-md'/>
    <div class='col-md-6 modal-right'>
        <%= render('support/partials/messages_admin') %>
    </div>
</div>
